body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Patrick Hand', 'Handlee', cursive, sans-serif;
    overflow: hidden;
}

#app {
    height: 100%;
    width: 100%;
    overflow: hidden;
}